@import "./resets";
@import "./variables";

body {
    font-size: $body-font;
    font-family: $fonts;
    overflow: hidden;
    background-image: url("images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 45%;
}
body, h1 {
    color: $dark-blue;
}
h2 {
    color: $greyish-blue;
}
.content-wrap {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0; 
    height: 100vh;
}
section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.text {
    width: auto;
    max-width: 650px;
    top: 35%;
    left: 10%;
    position: absolute;
    padding-top: 100px;
    margin-top: -100px;
    z-index: 1;
    background-image: url("images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 13%;
    p {
        font-weight: 300;
    }
    h1, h2 {
        display: inline;
        font-size: $body-font / 1.5;
    }
    h2 {
        font-weight: 500;
    }
    .headers {
        margin-top: 30px;
    }
}
.img {
    position: absolute;
    top: -13%;
    right: 0%;
    padding: 200px;
    background-image: url("images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-position-y: 47%;
    .slider-img {
        height: $img-size;
        width: $img-size;
        border-radius: 10px;
        box-shadow: 1px 5px $body-font;
    }
    .slider {
        position: absolute;
        display: inline-block;
        top: 75%;
        left: 27%;
        padding: 5px 10px;
        background-color: white;
        border-radius: 30px;
        a {
            padding: 10px;
        }
        img {
            width: auto;
            height: $chev-size;
        }
    }
}
.content-wrap #john {
    display: none;
}
.attribution {
    font-size: $body-font / 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 5%;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .text {
        top: 55%;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        p {
            font-size: $body-font / 2;
        }
    }
    .img {
        right: 50%;
        top: 0%;
        transform: translate(50%, 0);
        padding: 50px;
        background-size: contain;
        .slider-img {
            height: $img-size / 2;
            width: $img-size / 2;
        }
    }
}